body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(135deg, #7b4397, #dc2430);  /* 👈 gradient */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
}
